<?xml version="1.0" encoding="UTF-8"?>
<!--
    JBoss, Home of Professional Open Source
    Copyright 2014, Red Hat, Inc. and/or its affiliates, and individual
    contributors by the @authors tag. See the copyright.txt in the
    distribution for a full listing of individual contributors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  
	<!-- Repositórios -->
	<!-- ============ -->
	<profiles>
		<profile>
			<id>bacen-repositorios</id>
			<repositories>
				<repository>
					<id>bacen-releases</id>
					<name>Repositorio Bacen de releases</name>
					<url>http://maven/nexus/content/groups/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>bacen-snapshots</id>
					<name>Repositorio Bacen de snapshots</name>
					<url>http://maven/nexus/content/groups/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>bacen-releases</id>
					<name>Repositorio Bacen de releases</name>
					<url>http://maven/nexus/content/groups/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>bacen-snapshots</id>
					<name>Repositorio Bacen de snapshots</name>
					<url>http://maven/nexus/content/groups/snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>bacen-repositorios</activeProfile>
	</activeProfiles>

	<!-- Mirrors -->
	<!-- ======= -->
	<!-- * Espelhos locais (bacen) para os repositórios Maven externos. -->
	<mirrors>
		<mirror>
			<id>bacen-all</id>
			<name>Repositórios do bacen agrupando todos os repositórios internos e externos (tanto de releases, quanto de snapshots)</name>
			<url>http://maven/nexus/content/groups/todos</url>
			<mirrorOf>external:*</mirrorOf>
		</mirror>
	</mirrors>
	
	<pluginGroups>
	  <pluginGroup>br.gov.bcb.maven.plugins</pluginGroup>
	</pluginGroups>


	<!-- Proxy -->
	<!-- ===== -->
	<!-- * Não utilizar proxy diretamente das estações de desenvolvimento e build. -->
	<!-- * As dependências são recuperadas do servidor repositório Maven do Bacen. -->
	<!--
	<proxies>
		<proxy>
			<id>bacenproxy</id>
			<active>true</active>
			<protocol>http</protocol>
			<host>cachelb</host>
			<port>8080</port>
            <nonProxyHosts>*.bc</nonProxyHosts>
		</proxy>
	</proxies>
	-->
    <!---->
	<!-- Senhas -->
	<!-- ====== -->
	<!-- * Usuários e senhas para acesso aos repositórios Maven. -->
	<!-- * Configure se precisar de permissões especiais. -->
	<!-- -->
	<servers>
		<server>
			<id>bacen-releases</id>
			<username></username>
			<password></password>
		</server>
		<server>
			<id>bacen-snapshots</id>
			<username></username>
			<password></password>
		</server>
	</servers>

</settings>
